<header class="header">
	<div class="header__logo">
		{{#link 'help_center'}}
			<img src="{{logo_url}}" alt="{{t 'logo'}}">
		{{/link}}
	</div>

	<ul class="header__nav">
		<li class="header__nav-item">
			{{link 'help_center'}}
		</li>
		<li class="header__nav-item">
			<a href="{{page_path 'new_request'}}">{{t 'submit_a_request'}}</a>
		</li>
		<li class="header__nav-item">
			{{user_info}}
		</li>
	</ul>
</header>