<header class="header">
  <div class="header__logo">
    {{#link 'help_center'}}
    <img src="{{settings.logo}}" alt="{{t 'logo'}}">
    {{/link}}
  </div>

  <div class="header__right">

    <ul class="header__nav">
      <li class="header__nav-item">
        {{link 'help_center'}}
      </li>
      <li class="header__nav-item">
        <a href="{{page_path 'new_request'}}">{{t 'submit_a_request'}}</a>
      </li>
    </ul>
    <div class="header__user-info">
      {{#if signed_in}}
        <div class="user-info dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{user_avatar class="user-avatar"}}
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
              class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
            </svg>
          </button>
          <div class="dropdown-menu" role="menu" aria-expanded="false">
            {{link "my_activities" role="menuitem"}}
            {{my_profile role="menuitem"}}
            {{change_password role="menuitem"}}
            {{link "sign_out" role="menuitem"}}
          </div>
        </div>
      {{else}}
        {{#link "sign_in"}}
        {{t 'sign_in'}}
        {{/link}}
      {{/if}}
    </div>
    <div class="header__nav-toggle">
      <div id="toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    </div>
  </div>

  <script>
    $("#toggle").click(function () {
      $(this).toggleClass("on");
      $(".header__nav").slideToggle();
    });
  </script>
</header>

<script src="{{asset 'header.js'}}"></script>