<div class="container-divider"></div>
<div class="container">
	<include src="subnav-partial.hbs"></include>

	<header class="page-header">
		<h1>
			{{section.name}}
			{{#if section.internal}}
			<i class="material-icons md-24">lock</i>
			{{/if}}
		</h1>
		{{#if section.description}}
		<p class="page-header-description">{{section.description}}</p>
		{{/if}}
		{{subscribe}}
	</header>

	<div class="section-container">
		<section class="section-content">

			{{#if section.articles}}
			<ul class="article-list">
				{{#each section.articles}}
				<li class="article-list__item {{#if promoted}} article--promoted{{/if}}">
					<a href="{{url}}" class="article-list__link">
						{{title}}
						{{#if promoted}}
						<i class="material-icons md-18">grade</i>
						{{/if}}
					</a>
				</li>
				{{/each}}
			</ul>
			{{else}}
			<i class="section--empty">
				<a href="{{section.url}}">{{t 'empty'}}</a>
			</i>
			{{/if}}

			{{pagination}}

		</section>
	</div>
</div>